<%- include('partials/header') %>
<div class="jumbotron centered ">
<div class="box" id="heading">
  <h1>Találtok száma</h1>
  <h2> <%= numberOfElements%> </h2>
  <h1> Átlagos Ár </h1>
  <h2> <%= avgPrice%> </h2>
  <h1> Átlagos m2 ár </h1>
  <h2> <%= avgNmPrice%>/m<sup>2</sup> </h2>
  <h1> Átlagos Méret </h1>
  <h2> <%= avgSize%> m<sup>2</sup></h2>
  <h1> Átlagos Telek méret </h1>
  <h2> <%= avgPropSize%> m<sup>2</sup></h2>
</div>

</div>

<%- include('partials/footer') %>