<%- include('partials/header') %>
<div class="jumbotron centered ">
<div class="box" id="heading">
  <h1>Találtok száma</h1>
  <h3> <%= numberOfElements%> </h3>
  <h1> Átlagos Ár </h1>
  <h3> <%= avgPrice%> </h3>
  <h1> Átlagos m2 ár </h1>
  <h3> <%= avgNmPrice%>/m<sup>2</sup> </h3>
  <h1> Átlagos Méret </h1>
  <h3> <%= avgSize%> m<sup>2</sup></h3>
  <h1> Átlagos Telek méret </h1>
  <h3> <%= avgPropSize%> m<sup>2</sup></h3>
</div>

</div>

<%- include('partials/footer') %>